<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<div class="row">
	<h1>PRODUCT Details</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Manufacturer</th>
					<th>Price</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${product}">
					<td th:text="${p.productId}"></td>
					<td th:text="${p.productName}"></td>
					<td th:text="${p.productManufacturer}"></td>
					<td th:text="${p.productPrice}"></td>
					<td><a href="/" th:href="@{|/product/${product.id}/edit|}">Edit</a></td>
				</tr>
			</tbody>
		</table>
		<div th:unless="${product}">
			<h1>Product not found</h1>
		</div>
	</div>
</body>
</html>
