<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
.table-hover thead tr:hover th, 
 .table-hover tbody tr:hover td {
        background-color: #fcccf6;
}

.btn-primary {
    background: #fa25de;
    color: #ffffff;
}
</style>
</head>
<body layout:fragment="content">
	<h1>PRODUCT Master List</h1>
	<a class="btn btn-primary" href="/" th:href="@{|/product/create|}" role="button">Create New Product</a>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Manufacturer</th>
				<th>Retail Price</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${products}">			 
				<td th:text="${p.productId}"></td>
				<td th:text="${p.productName}"></td>
				<td th:text="${p.productManufacturer}"></td>
				<td th:text="${p.productPrice}"></td>
				<td><a class="btn btn-default" href="/" th:href="@{|/product/${p.id}}" role="button">View</a></td>
				<td><a class="btn btn-success" href="/" th:href="@{|/product/${p.id}/edit|}" role="button">Edit</a></td>
				<td><a class="btn btn-danger" href="/" th:href="@{|/product/${p.id}/delete|}" role="button">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
