<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security">
<head></head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Betty's Boutique</a>
				<!-- <a href="#" class="pull-left"><img src="/bettysLogo.png"/></a> -->
			</div>
			<ul class="nav navbar-nav">
				<li role="presentation"><a th:href="@{/products}">PRODUCT MASTER</a></li>
				<li role="presentation"><a th:href="@{/customers}">CUSTOMER MASTER</a></li>
				<li role="presentation"><a th:href="@{/transactions}">TRANSACTION HISTORY</a></li>
			</ul>
		</div>
	</div>

</body>
</html>