<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body layout:fragment="content">
	<div class="row">
		<h1>CUSTOMER Master List</h1>
		<a href="customer/{id}/add" class="btn">Add New Customer</a>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Customer Number</th>
					<th>Customer Name</th>
					<th>Email Address</th>
					<th>Customer Since</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<td scope="row" th:text="${customer.customerId}"></td>
					<td th:text="${customer.customerName}"></td>
					<td th:text="${customer.customerEmail}"></td>
					<td th:text="${customer.customerSince}"></td>
					<td><a href="/" th:href="@{|/customer/${customer.id}|}">View</a></td>
					<td><a href="#" class="glyphicon glyphicon-trash"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>