<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">

	<div class="row">
		<div th:if="${product_delete}">
			<h1>Delete PRODUCT from Master List</h1>
			<img id="avatar" src="" th:if="${productImage}"
				th:src="${productImage.htmlSrc}" alt="Profile Image"
				title="No Image" />

			<dl class="dl-horizontal">
				<dt>Product ID</dt>
				<dd th:text="${product.productId}"></dd>
				<dt>Product Name</dt>
				<dd th:text="${product.productName}"></dd>
				<dt>Product Manufacturer</dt>
				<dd th:text="${product.productManufacturer}"></dd>
				<dt>Suggested Retail Price</dt>
				<dd th:text="${product.productPrice}"></dd>
			</dl>

			<p><a href="/" th:href="@{|/product_delete/${product.id}/delete|}">Delete Product from Master List</a></p> 
			<p><a href="/" th:href="@{|/home|}">Return Home</a></p>
		</div>

		<div th:unless="${product}">
			<h1>Product not found</h1>
		</div>
	</div>
</body>
</html>

